

/*Big Display */

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4f6;
}

.navigationBar {
    position: fixed;
    top: 0;
    z-index: 1;
    ;
    background-color: #0c084c;
    width: 100%;
    text-align: center;
    display: inline-flex;
    margin: 0px;
    box-shadow: 0px 5px 20px black;
}

    .navigationBar > h3 {
        padding: 10px;
        margin: 0px auto 0px auto;
        font-size: 30px;
        color: rgba(255, 255, 255, .8);
        cursor: pointer;
    }

@keyframes glowIn {
    0% {
        color: rgba(255,255,255,.8);
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
    }

    100% {
        color: rgba(255,255,255,1);
        text-shadow: 0px 0px 25px rgb(255, 255, 255);
    }
}

@keyframes glowOut {
    0% {
        color:rgba(255,255,255,1);
        text-shadow: 0px 0px 25px rgb(255, 255, 255);
    }

    100% {
        color: rgba(255,255,255,.8);
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
    }
}

.navigationBar > h3:hover {
    
    animation: glowIn 1s forwards;
}

.navigationBar > h3:not(:hover) {
    
    animation: glowOut 1s forwards;
}

.menu, .close {
    padding: 10px;
    font-size: 30px;
    color: rgba(255, 255, 255, .8);
}

.close {
    padding: 10px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

    .menu:hover, .close:hover {
        animation: glowIn 1s forwards;
        cursor: pointer;
    }
    .menu:not(:hover), .close:not(:hover){
        animation:glowOut 1s forwards;
    }

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}

@keyframes fadeOut {
    from {
        left: 0;
    }

    to {
        left: -300px;
    }
}

.search {
    margin: auto;
    padding: 8px;
    vertical-align: baseline;
    background: #ffffff;
    border-radius: 3px;
    display: inline;
}

.share {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 15px;
    display: inline;
    text-align: center;
    font-size: 24px;
}

    .share > i {
        padding: 24px;
        color: #ffffff;
        cursor: pointer;
    }

.search > input {
    height: 30px;
    font-size: 18px;
    text-indent: 10px;
    color: rgba(0, 0, 0, .8);
    border: none;
    border-radius: 10px;
}

.search > span {
    height: 100%;
}

    .search > span > i {
        width: 30px;
        cursor: pointer;
        background: #ffffff;
        color:#000;
    }

.container {
    max-width: 1200px;
    height: auto;
    margin: 70px auto 30px auto;
    display: grid;
    grid-gap:1%;
    grid-template-columns: 20% 58% 20%;
    grid-template-rows: auto;
}
/* Left Side bar*/
.leftSidebar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px black;
}

    .leftSidebar > ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px auto 0px auto;
    }

        .leftSidebar > ul > li {
            height: 100px;
            padding: 10px;
            text-align: center;
            margin: 10px;
        }

            .leftSidebar > ul > li:nth-child(1) {
                background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)),border-box,url(https://source.unsplash.com/200x100/?fashion), no-repeat center center;
                background-size: cover;
            }

            .leftSidebar > ul > li:nth-child(2) {
                background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)),border-box,url(https://source.unsplash.com/200x100/?science), no-repeat center center;
                background-size: cover;
            }

            .leftSidebar > ul > li:nth-child(3) {
                background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)),border-box,url(https://source.unsplash.com/200x100/?technology), no-repeat center center;
                background-size: cover;
            }

            .leftSidebar > ul > li:nth-child(4) {
                background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)),border-box,url(https://source.unsplash.com/200x100/?health), no-repeat center center;
                background-size: cover;
            }

            .leftSidebar > ul > li:nth-child(5) {
                background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)),border-box,url(https://source.unsplash.com/200x100/?news), no-repeat center center;
                background-size: cover;
            }

            .leftSidebar > ul > li > a {
                text-decoration: none;
                color: white;
            }
/*Main Content*/
.mainContent {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 10px;
    background-color: rgba(0,0,0,.1);
}

.card {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 5px;
}

    .card > img {
        width: 100%;
    }

    .card > h4 {
        text-align: left;
        text-indent: 10px;
    }

    .card > p {
        padding: 5px;
        text-align: justify;
    }


/* Side Content */
.rightSidebar {
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-rows: max-content max-content auto;
    grid-gap: 10px;
    box-shadow: 0px 1px 3px black;
    padding: 10px;
}

.video {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    overflow-x: hidden;
}

.scroll {
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
}

    .scroll > p {
        margin: 0px;
        padding: 5px;
        white-space: nowrap;
        transform: translateX(180px);
        animation: scrolFromRight 60s linear infinite;
    }
    .scroll > p > a{
        text-decoration:none;
        color:white;
    }

        .scroll > p:hover {
            animation-play-state: paused;
        }

@keyframes scrolFromRight {
    100% {
        transform: translateX(-100%)
    }
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(12, 8, 76, 1);
    height: 100px;
    bottom: 0;
}

.footer-content {
    text-align: center;
    padding-top: 10px;
    color: rgba(255, 255, 255, .5);
    margin: auto;
    max-width: 1200px;
}
.footer-content:hover{
    animation:glowIn 1s forwards;
}
    .footer-content:not(:hover) {
        animation: glowOut 1s forwards;
    }


    .footer-content > h4 {
        margin: 0;
    }

.low > i {
    border-top: none !important;
    
}

.floatingMenu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #0c084c;
    top: 0;
    left: -310px;
    box-shadow: 0px 5px 20px black;
    z-index: 2;
}

.list {
    text-align: center;
}

    .list > ul {
        padding: 0;
    }

        .list > ul > li {
            list-style: none;
            height: 5em;
        }

            .list > ul > li:hover {
                animation: glowIn 1s forwards;
            }
            .list > ul > li:not(:hover) {
                animation: glowOut 1s forwards;
            }

            .list > ul > li > a {
                text-decoration: none;
                color: #f2f4f6;
            }

.advertisement {
    text-align: center;
}

    .advertisement > p {
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

.ad {
    height: 10em;
    border: 1px solid rgba(0, 0, 0, .1);
    background-image: url(https://source.unsplash.com/200x100/?ad);
    background-size: cover;
}

.other > div > p {
    margin: 0;
}

.callender {
    height: 80px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.date {
    margin: auto 0px auto auto;
    font-size: 50px;
    font-weight: bold;
    grid-row: span 2;
    color: red;
}

.event {
    font-weight: bold;
    margin: auto auto 0px 0px;
}

.rashifal > ul {
    list-style: none;
    padding: 0;
}
.rashifal > p {
    text-align:center;
    padding-top:10px;
}

    .rashifal > ul > li {
        height: 40px;
        vertical-align: middle;
        margin-bottom: 4px;
        border: 1px solid rgba(0, 0, 0, .1);
        cursor: pointer;
    }

        .rashifal > ul > li > p {
            margin: 10px auto auto 12px;
            vertical-align: middle;
        }

.watch {
    margin-top: 10px;
    text-align: center;
}
/*pad*/
@media (max-width:1000px){
    .container{
        grid-template-columns:25% 48% 25%;

    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}
/*mobile*/
@media (max-width:750px) {
    .navigationBar > h3 {
        padding: 10px;
        margin: auto;
        font-size: 20px;
    }

    .container {
        margin: 70px auto 30px auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .leftSidebar {
        display: none;
    }

        /*.leftSidebar > ul > li {
            height: 30px;
            padding: 10px;
            text-align: center;
            margin: 10px;
            background-image: none;
        }

            .leftSidebar > ul > li > a {
                color: black;
            }*/

    
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

    .watch {
        padding-bottom: 20px;
    }
}
